body {
	display: grid;
	grid-template-areas: "form date view";
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	font-family: "Arial", sans-serif;
}

.panel-form {
	grid-area: form;
	background-color: lightyellow;
	padding: 10px;
}

p {
	margin: 5px;
}

.input-field {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.input-field input {
	width: 50%;
}

.panel-date {
	grid-area: date;
	background-color: lightblue;
	padding: 10px;
}

.table-date {
	width: 100%;
	height: 100%;
	border-spacing: 3px;
}

.date-table-element, .date-table-element-nonempty, .date-table-element-full {
	background-color: white;
	border: solid 1px gray;
	border-radius: 2px;
	min-width: 20px;
}

.date-table-element-nonempty {
	background-color: lightpink;
}

.date-table-element-full {
	background-color: tomato;
}

.panel-view {
	grid-area: view;
	background-color: navajowhite;
	padding: 10px;
}

.empty-text {
	display: none;
}

.table-view {
	display: none;
	border-collapse: collapse;
	width: 100%;
}

.table-view tr {
	border: 1px solid black;
	background-color: white;
	padding: 5px;
}

.table-view tr:nth-child(even) {
	background-color: aliceblue;
}

.table-view tr:first-child {
	background-color: skyblue;
}

.table-view tr th {
	text-align: left;
}
